.divsContainer {
  width: 75vw;
  margin: auto;
}

.creationDiv {
  background-color: rgb(196, 189, 189);
  margin-top: 50px;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 10px 50px 10px;
  color: rgb(144, 177, 177);
  overflow: auto;
}

.inputs {
  width: 50vw;
  // margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5vw;

  color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px;

  background-color: rgb(198, 191, 191);
}
